<div class="main-container">
  <h1>Have a question? We can help</h1>
  <hr />
  <div class="accordion-container">
    <app-accordion></app-accordion>
    <!-- <div class="accordion" *ngFor="let faq of faqsArr; let i = index"  [ngClass]="{'active': isClicked }" >
      <div class="accordion-header" (click)="showContent(i, $event)" >
        <div class="label"> <span>Q{{faq.id}} </span> {{faq?.question}}</div>
        <div class="icon-container">
          <img src="../assets/images/plus-icon.svg" alt="plus icon">
        </div>
      </div>
      <div class="content" *ngIf="isClicked">
       {{faq.answer}}
      </div>
    </div> -->
  
  </div>
</div>


<!-- [ngClass]="{'active': isClicked }" -->